input[type="tel"] {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #101e76;
    width: 100%;
    background-color: #E7E8F1;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 0 20px;
    margin-bottom: 15px;
}
input[type="tel"]::-webkit-input-placeholder {
    color: #B7BBD6;
    font-size: inherit;
}
input[type="tel"]::-moz-placeholder {
    color: #B7BBD6;
    font-size: inherit;
}
input[type="tel"]:-moz-placeholder {
    color: #B7BBD6;
    font-size: inherit; 
}
input[type="tel"]:-ms-input-placeholder {
    color: #B7BBD6;
    font-size: inherit;
}
input[type="tel"]:focus {
    border-color: #101e76; 
}
.page-customs nav.tabs,
.page-home nav.tabs,
.page-wrap nav.tabs {
  	position: fixed;
  	top: 50%;
  	right: 0;
  	transform: translate(0, -50%);
	z-index: 10;
}
.page-customs nav.tabs ul.tabs > li,
.page-home nav.tabs ul.tabs > li,
.page-wrap nav.tabs ul.tabs > li {
    margin-right: 0;
    display: block;
    background: #000;
}
.page-customs nav.tabs ul.tabs > li a,
.page-home nav.tabs ul.tabs > li a,
.page-wrap nav.tabs ul.tabs > li a {
    color: #fff;
}
.page-custom nav.tabs ul.tabs > li a.is-active,
.page-home nav.tabs ul.tabs > li a.is-active,
.page-wrap nav.tabs ul.tabs > li a.is-active,
.page-custom nav.tabs ul.tabs > li:hover a,
.page-home nav.tabs ul.tabs > li:hover a,
.page-wrap nav.tabs ul.tabs > li:hover a {
    color: #000;
}
.pager__items {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.pager__items li {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 3px;
}
.pager__items a {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    color: #B7B7B7;
    border-radius: 50%;
}
.pager__items a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../img/icon/current-pagination.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.pager__items li.is-active a:after, 
.pager__items li a:hover:after {
    visibility: visible;
    opacity: 1;
}
.pager__items li.is-active a, .pager__items li a:hover {
    color: #101e76;
}
.blog-detail__content .detail-entry ul.blog-list,
.blog-detail__content .detail-entry ul.featured-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.blog-detail__content .detail-entry ul.blog-list > li {
    position: relative;
    padding-left: 11px;
    margin-bottom: 8px;
}
.blog-detail__content .detail-entry ul.blog-list > li:before {
    content: '';
    position: absolute;
    top: 14px;
    left: 0;
    width: 3px;
    height: 3px;
    background-color: #101e76;
}
.header__nav .header__list li:first-child {
	display: none;
}
.header__nav .header__list .submenu li:first-child {
    display: block;
}
.menu-mobile__nav .header__list > li > a.is-active:after,
.header__nav .header__list > li > a.is-active:after {
    width: 100%;
}
.menu-mobile__subnav li a.is-active {
    color: #101e76;
}
.section-service__blog, .post-list__media {
    overflow: hidden;
}
.section-cta__bg .desktop {
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-attachment: fixed;
	background-size: cover;
}
.section-bg {
    background-repeat: repeat-y;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}
.header__nav .header__list .menu-has-children .submenu {
	list-style: none;
	right: -20px;
}
.grid__filters {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: auto;
    text-align: center;
    margin-bottom: 30px;
}
.grid-css-blog .grid__filters {
    padding-bottom: 25px;
    margin-bottom: 30px;
    border-bottom: 1px solid #DCDCDC;
}
.menu-mobile__nav .header__list .menu-has-children > .submenu a {
    color: #000;
}
.menu-mobile__social {
    width: 100%;
    max-width: none;
    padding: 10px 0;
}
.menu-mobile__social svg:not(:root) {
    max-width: 170px;
    margin-right: 10px;
}
.menu-mobile__social .footer__language {
    display: inline-block;
	position: relative;
    top: -12px;
}
.footer__language a {
	width: 16px;
	height: 16px;
	font-size: 0;
	text-indent: -9999px;
	display: inline-block;
	background: url(../../img/icon/english.svg) no-repeat center center;
}
.footer__language a + a {
	background: url(../../img/icon/vietnamese.svg) no-repeat center center;
}

.footer__contact {
	margin-top: -25px;
}
.footer__contact .footer__logo {
	float: left;
}
.footer__contact .footer__logo img {
    margin-top: -22px;
}
.footer__contact .sep {
    float: left;
    margin: 0 20px;
    height: 45px;
    font-size: 0;
    border-left: 1px solid #ccc;
}
.footer__contact .footer__logo + .sep + .footer__logo img {
    max-width: 150px;
    margin-top: -53px;
}
.footer__contact .footer__logo + .sep + .footer__logo + ul {
    clear: both;
}

@media (min-width: 1441px) {
	.toolbar-horizontal .header {
		height: auto;
	}
	.featured-text__icon {
		max-width: 30px;
	}
	.menu-mobile__nav .header__list > li > a {
		height: 65px;
		line-height: 55px;
	}
}
@media (min-width: 1260px) {
	.grid__filters {
		margin-bottom: 60px;
	}
	.grid-css-blog .grid__filters {
		padding-bottom: 55px;
		margin-bottom: 50px;
	}
	.footer__content {
		padding: 125px 0 20px;
	}
}
@media (min-width: 768px) {
	.pager__items .text-item {
		margin-left: 14px;
		margin-right: 14px;
	}
	.pager__items a {
		font-size: 19px;
		width: 40px;
		height: 40px;
		line-height: 40px;
	}
	.post-list__media img {
		-webkit-transition: all .6s ease;
		-o-transition: all .6s ease;
		transition: all .6s ease;
	}
	.post-list__media:hover img {
		-webkit-transform: scale(1.03);
		-ms-transform: scale(1.03);
		transform: scale(1.03);
	}
	.section-service__blog img {
		-webkit-transition: all .6s ease;
		-o-transition: all .6s ease;
		transition: all .6s ease;
	}
	.section-service__blog:hover img {
		-webkit-transform: scale(1.03);
		-ms-transform: scale(1.03);
		transform: scale(1.03);
	}
	.post-background__bg, .team__avatar {
		-webkit-transition: all .6s ease;
		-o-transition: all .6s ease;
		transition: all .6s ease;
	}
	.post-background:hover .post-background__bg, .team__avatar:hover {
		-webkit-transform: scale(1.03) translateX(5px);
		-ms-transform: scale(1.03) translateX(5px);
		transform: scale(1.03) translateX(5px);
	}
}

@media (max-width: 1024px) {
	.menu-mobile__content .header__cta {
		display: block;
		margin-bottom: 10px;
	}
}

.audiojs .error-message {
	display: none;
}

.lds-ellipsis {
	display: none;
	/* display: inline-block; */
	position: relative;
	width: 80px;
	/* height: 80px; */
	/* text-align: center; */
	/* margin: 0 auto; */
	/* position: relative; */
	left: calc(50% - 40px);
	height: 55px;
}

.lds-ellipsis div {
	position: absolute;
	top: 23px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #1973AE;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}

@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(24px, 0);
	}
}

.fptai-loading-image {
	padding: 10px 0;
	display: none;
}
.fptai-loading-audio {
	display: block;
}
.fptai-loading-audio .lds-roller {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.fptai-loading-audio .lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}

.fptai-loading-audio .lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #0795C3;
	margin: -4px 0 0 -4px;
}

.fptai-loading-audio .lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}

.fptai-loading-audio .lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}

.fptai-loading-audio .lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}

.fptai-loading-audio .lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}

.fptai-loading-audio .lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}

.fptai-loading-audio .lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}

.fptai-loading-audio .lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}

.fptai-loading-audio .lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}

.fptai-loading-audio .lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}

.fptai-loading-audio .lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}

.fptai-loading-audio .lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}

.fptai-loading-audio .lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}

.fptai-loading-audio .lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}

.fptai-loading-audio .lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}

.fptai-loading-audio .lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}

.fptai-loading-audio .lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}

@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#backside-information-passport, #backside-information-license {
	display: none;
}

#pn_result_id .text-error-result, #pn_result_license .text-error-result, #pn_result_passport .text-error-result {
	display: none;
}

.detail-entry figure {
	text-align: center;
}

figure img {
    width: auto;
}

.inputFile-custom__text {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing__title {
    line-height: 50px;
}

.feed-icon {
	display: none;
}

@media (max-width: 1024px) {
	.section-service__content .btn {
		padding-left: 18px;
		padding-right: 18px;
	}
	.hero-featured__btn .btn {
		padding-left: 18px;
		padding-right: 18px;
	}
}

@media (max-width: 991.98px) {
	.section-service__content .btn {
		font-size: 12px;
		padding: 10px 19px;
		margin-bottom: 10px;
	}
	.hero-featured__btn .btn {
		font-size: 12px;
		padding: 9px 19px;
		margin-bottom: 10px;
	}
}

@media (max-width: 414px) {
	.section-cta .btn {
		font-size: 13px;
	}
	.footer__contact .footer__logo img, .footer__contact {
		margin-top: 0px; 
	}
	.footer__contact .footer__logo + .sep + .footer__logo img {
		margin-top: -18px;
	}
	.section-cta__title, .section-cta-2__title {
		font-weight: 700;
	}
	.section-cta-2 {
		background-attachment: scroll;
    	background-size: cover;
    	background-position: center center !important;
	}
	.detail-footer__right, .detail-footer__left {
		display: block;
		width: 100%;
	}
}

@media (max-width: 320px) {
	.section-service__content .btn {
		padding-left: 11px;
		padding-right: 11px;
	}
	.hero-featured__btn .btn {
		padding-left: 11px;
		padding-right: 11px;
	}
	.footer__contact .footer__logo + .sep + .footer__logo img {
		margin-top: -13px;
		max-width: 130px;
	}
}